<h1>Demo#index</h1>
<p>hello Word</p>

<%= 1+1 %>

<br />

<% target = "World" %>
<%= "Hello #{target}" %>

<% 3.times do %>
<%= "xxx" %>
<% end %>

<% @array.each do |n| %>
<%= n %><br />
<% end %>

<a href="/demo/index"> hello Page 1</a>
<%= link_to('Hello Page 2', {:action => 'index'}) %>
<%= link_to('Hello with parameters', {:action => 'hello', :page => 2, :id => 3 }) %>


<br />
ID : <%= params[:id] %>
ID : <%= @id %><br />
Page: <%= @page.to_i + 1 %><br />


<hr />
<%= params.inspect %>